<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="text-center">
        <p id="start-description">
          この診断では自身の冷え性度を知ることができます。<br>質問は合計で6問です
        </p>
        <button type="button" class="btn btn-primary" id="start-questions">診断を始める</button>
      </div>
      </div>
    </div>
  </div>
</div>
