<div class="container">
  <div class='top-wrapper'>
    <div class='row'>
      <div class='col-md-6 mx-2 mx-auto my-4 p-3'>
        <%= image_tag 'logo.png', style: 'max-height: 300px; width: auto;' %>
        <div class="chatches">
          <div class="sub-chatch mt-10">
            <h4 class="text-start">「HieMiru」は<br>診断による<span class="fw-bolder blue">”冷え性の見える化”</span>で<br>冷えの改善をサポートします。</h4><br>
            <% if user_signed_in? %>
              <%= link_to '診断機能', questions_path, class: 'btn btn-next' %><br><br>
            <% else %>
              <p class="text-center">さっそくログインする</p>
              <%= render 'shared/auth_buttons' %><br>
              <p class="text-center">ログインせずに診断機能を</p>
              <%= link_to '試す', questions_path, class: 'btn btn-next' %><br><br><br>
            <% end %>
            <h6 class="text-start fw-bolder">
              HieMiruで出来ること（ログイン後機能は<i class="fa fa-sign-in" aria-hidden="true"></i>）
            </h6>
          </div>
          <div>
        </div>
        <div class="box">
          <div class="white-box center">
            <dt class="text-start fw-semibold">
              <i class="fa-regular fa-snowflake"></i>
            診断機能
            </dt>
            <p class="text-start">
              なんかこの頃不調が続いていて…。それ、実は冷え性かも！まずは、冷え性タイプ診断を行なって、自分の冷え性のタイプを知りましょう。
            </p>
          </div>
          <div class="white-box center">
            <dt class="text-start fw-semibold">
              <i class="fa-regular fa-circle"></i>
            記録機能
              <i class="fa fa-sign-in ms-3" aria-hidden="true"></i>
            </dt>
            <p class="text-start">
              冷え性のタイプを知ったら、自分のタイプに応じた冷え性対策を参考にして、7日間を目標に対策を行おう！ワンタップで記録が出来ます。
            </p>
          </div>
          <div class="white-box center">
            <dt class="text-start fw-semibold">
              <i class="fa-solid fa-chart-pie"></i>
            分析機能
              <i class="fa fa-sign-in ms-3" aria-hidden="true"></i>
            </dt>
            <p class="text-start">
              冷え性の改善の変化を分析しよう！カレンダーと棒グラフを用いて、改善の記録を振り返ることが出来ます。
            </p>
          </div>
          <div class="white-box center">
            <dt class="text-start fw-semibold">
              <i class="fa-brands fa-line"></i>
            一週間の振り返りレポート
              <i class="fa fa-sign-in ms-3" aria-hidden="true"></i>
            </dt>
            <p class="text-start">
              毎週月曜日に、あなたの一週間の目標達成のレポートをLINEに送ります。<br>※LINE通知を受け取るにはLINEログインに加え、公式アカウントの友達登録が必要です。
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
