<div class="container">
  <div class='top-wrapper'>
    <div class='row'>
      <div class='col-md-6 mx-2 mx-auto my-4 p-3'>
        <%= image_tag 'logo.png', style: 'max-height: 300px; width: auto;' %>
        <div class="chatches">
          <div class="main-catch">
            <h2 class="left bold">健康な毎日は冷え改善から。</h2>
          </div>
          <div class="sub-chatch mt-10">
            <h4 class="left">「冷え診る」は<br>診断からはじまる<br><span class="pink bold">”冷え性の見える化”</span>で<br>冷えの改善をサポートします。</h4>
                <%= render 'shared/auth_buttons' %>
              <h5>ログインせずに診断機能を</h5>
                <%= link_to '試してみる', questions_path, class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
