<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-auto">
      <p><%= ColdSymptom.symptom_types.key(@user.diagnose) %></p>
      <p><%= @cold_symptom.symptom_title %></p>
      <p><%= @cold_symptom.symptom_body %></p>
      <%= image_tag @cold_symptom.image_url %>
    </div>
  </div>
</div>
