<h2>Sign up</h2>
<%- resource_class.omniauth_providers.each do |provider| %>
  <%= button_to omniauth_authorize_path(resource_name, provider), data: { turbo: false } do %>
    <%= image_tag 'login.png' %>
  <% end %>
<% end %>