<% content_for(:title, t('.title'))%>
<div class="container">
  <div class="top-wrapper">
    <div class="col-md-10 col-lg-8 mx-auto">
      <%= month_calendar events: @diaries do |date, records| %>
        <%= date.day %>

        <% if records.present? %>
          <% records.each do |record| %>
            <div>
              <%= link_to diary_path(record) do %>
                <% if record.physical_condition.present? %>
                  <% if record.physical_condition == 'physical_bad' %>
                    <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% elsif record.physical_condition == 'physical_normal' %>
                    <i class="fa fa-meh-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% elsif record.physical_condition == 'physical_good' %>
                    <i class="fa fa-smile-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% end %>
                <% end %>

                <% if record.mental_condition.present? %>
                  <% if record.mental_condition == 'mental_bad' %>
                    <i class="fa fa-frown-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% elsif record.mental_condition == 'mental_normal' %>
                    <i class="fa fa-meh-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% elsif record.mental_condition == 'mental_good' %>
                    <i class="fa fa-smile-o" aria-hidden="true" style="font-size: 20px;"></i>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>