<footer id='footer' class='footer-bottom'>
  <div class='container'>
    <div class='row'>
      <div class='col-sm-6 col-12 text-center'>
        <div class='header-main'>
          <%= link_to "利用規約", terms_path, class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover", target: "_blank" %>
          <%= link_to "プライバシーポリシー", privacy_path, class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
          <%= link_to "問い合わせ", "https://forms.gle/LFipEJM96NG52B71A", class: "link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0 link-underline-opacity-75-hover" %>
        </div>
        <div class='copyright'>
          <p>© 2024 - Present HieMiru. All rights reserved.</p>
        </div>
      </div>
    </div>
  </div>
</footer>
