<% content_for( :title, t('.title'))%>
<div class="container">
  <div class="top-wrapper">
    <div class="col-md-10 col-lg-8 mx-auto">
      <div class="box">
        <div class="white-box center">
          <%= render 'form', goal: @goal %>
        </div>
      </div>
    </div>
  </div>
</div>
