@import "application.bootstrap";
@import "static_pages";
@import "simple_calendar";

  .btn {
    width: 100%;
  }

  .bold {
    font-weight: bold;
  }

  .center {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .transparent-button {
    background: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    padding: 0;
  }

  .top-wrapper {
    color: black;
    height: calc(100vh - 134px);
    position: relative;
    background-position: center;
    padding: 60px 80px 0 0;
  }

  .question-wrapper {
    padding-top: 40px;
  }

  .btn-question {
    background-color: #99E4FB80;
    border-radius: 8px;
    width: 300px;
    margin: 5px;
  }

  .btn-previous {
    background-color: #99E4FB1A;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
  }

  .btn-next {
    background-color: #78C8E6E6;
    border-radius: 5px;
    width: 100px;
    margin: 5px;
  }

  .btn-share {
    background-color: #99E4FB1A;
    border-radius: 5px;
    margin: 5px;
  }

  .white-box {
    background-color: white;
    border-radius: 2px;
    padding: 10px 10px 5px 10px;
    margin: 10px 0 0 0;
    box-shadow: 0.5px 0.5px 1px 1px  
  }

  #progress-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #progress-container {
    position: relative;
    width: 400px;
    height: 400px;
  }

  #progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #record-button {
    background-color: #99E4FB;
    border-radius: 5px;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px; /* ボタンの幅を200pxに設定 */
  }

  #comment-container {
    margin-top: 20px;
  }
  
  // 大デバイス（デスクトップ, 1200px 未満）
@media (min-width: 992px) {
  body {
    font-size: 1rem;
  }
  .h-80{
    height: 80px;
  }

  p.stay-top {
    margin: initial;
    margin-top: 10px;
  }
  
 }
// 中デバイス（タブレット, 992px 未満）
@media (max-width: 991.98px) {
  div.main-contents {
    font-size: 1.0rem;
    text-align: center;
  }
 }
 // @include media-breakpoint-up(sm) {
 @media (max-width: 550px) {
  body, .btn-sm, .btn {
    text-align: center;
  }
  footer {
    font-size: 1rem;
  }

  .main-catch {
    margin-bottom: 10px;
    text-align: center;
    display: block;
  }
 } 

@media (max-width: 375px) {
  .main-catch {
    margin-bottom: 10px;
    text-align: center;
	  display: block;
  }
 }

 @media (min-width: 550px) {
 }
