.navbar {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  background-color: #99E4FB;
  height: 60px;
  z-index: 10;
}

.tabbar {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #99E4FB;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  z-index: 1030;
  padding: 10px 0;
}

.tabbar ul {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tabbar .nav-item {
  display: flex;
  flex-direction: column; /* アイコンとリンクを縦に並べる */
  align-items: center;
}

.tabbar .nav-link {
  padding: 0;
}

.layout-container {
  min-height: 100vh;
  position: relative;
  padding-bottom: 40px;
  box-sizing: border-box;
}

.footer-bottom {
  display: flex;
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: 100%;
  background-color: #CCF0FB;
  overflow: hidden;
  z-index: 10;
  font-size: 12px;
  height: 40px;
}

.menu-item {
  display: flex;
  align-items: center;
  padding: 10px 0;
}
.menu-item i {
  margin-right: 10px;
}
.menu-header {
  font-weight: bold;
  padding: 15px 0 5px 0;
}

.blue {
  color: #1e90ff;
}

@media (max-width: 991px) {
  .navbar {
    display: none;
  }
  .tabbar {
    display: flex;
  }
}
