.top-wrapper {
  color: gray;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-color: #feffed;

  @media screen and (max-width: 767px) {
    font-size: 2.0rem;
  }
}