.navbar {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 100%;
  box-shadow: none;
  background-color: #99E4FB;
  position: fixed;
  height: 60px;
  overflow: hidden;
  z-index: 10;
}

footer{
  background-color: #99E4FB;
  text-align: center;
  position: fixed;
  bottom: 0;
  margin-bottom: 0;
  width: 100%;
}

.main-catch {
  margin-bottom: 10px;
  text-align: center;
  display: block;
}

.top-wrapper {
  color: black;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;

  @media screen and (max-width: 767px) {
    font-size: 2.0rem;
  }
}

.transparent-button {
  background: transparent; /* 背景色を無色に */
  border: none; /* 枠線を消す */
  outline: none; /* クリックした際に枠線を消す */
  box-shadow: none; /* 影を消す */
  padding: 0; /* パディングを消す */
}

.bold {
  font-weight: bold;
}

.pink {
  color: #FF5192;
}
