.top-wrapper {
  color: gray;
  height: calc(100vh - 134px);
  position: relative;
  background-position: center;
  background-color: #feffed;

  @media screen and (max-width: 767px) {
    font-size: 2.0rem;
  }
}

.transparent-button {
  background: transparent; /* 背景色を無色に */
  border: none; /* 枠線を消す */
  outline: none; /* クリックした際に枠線を消す */
  box-shadow: none; /* 影を消す */
  padding: 0; /* パディングを消す */
}
